:root {
  --primary-color: #eb202e;
  --primary-color: #B1000E;
  --primary-light-color: #b1000fc9;
  --secondary-color: #D9D9D9;
  --dark-color: #4D4D4D;
  --black: #2D2D2D;
  --background: #fcfcfc;
  --background-dark: #2c2e2f;
}


.open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.default-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

section {
  width: 100vw;
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  box-sizing: border-box;
}

html, body {
  background-color: var(--background);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow-x: hidden;
  overflow-y: auto;
  /* width: 100vw; */
}

body {
  overflow: hidden;
}

.primary-color {
  color: var(--primary-color);
}

.dark-color {
  color: var(--dark-color);
}

.font-small {
  font-size: 0.8rem;
}

@keyframes animationWhats {

  4.5%,
  10.5% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  5% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  5.5% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  6% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  6.5% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  7% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  7.5% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  8% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  8.5% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  9% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  9.5% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  10% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.btn-whats {
  border-radius: 50%;
  position: fixed;
  z-index: 200;
  background-color: #25d366;
  color: white;
  right: 30px;
  bottom: 30px;
  padding: 12px;
  height: 60px;
  width: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 1;
  animation: animationWhats 5s infinite;
}

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* 
.apresentation {
    background: #212121;
} */


.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: absolute;
  left: 200px;
  top: -30px;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;

}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
